#head {
  overflow: hidden;
}

#head .head-menu {
  background: #2e2828;
  height: 30px;
}

#head .head-menu ul {
  line-height: 30px;
}

#head .head-menu ul li {
  float: left;
  margin-left: 10px;
}

#head .head-logo img {
  width: 150px;
  margin: 10px;
}
